<div class="container">
    <div class="row">
        <div id="fh5co-tours" class="fh5co-section-gray w-100">
            <div class="container w-100">
                <div class="row w-100">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section ">
                        <h3>Liste des recalamtions</h3>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary">Reclamer</button>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Type</th>
                            <th scope="col">Objet</th>
                            <th scope="col">Description</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reclamation of reclamations">
                            <th scope="row"></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>{{reclamation.type}}</td>
                            <td>{{reclamation.objet}}</td>
                            <td>{{reclamation.description}}</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>