.operations-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    grid-row-gap: 15px;
    justify-items: baseline;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
}

.password-style {
    border: none;
}

.hidden {
    display: none;
}