<div class="container">
    <div class="row">
        <div id="fh5co-tours" class="fh5co-section-gray">
            <div class="container w-100" style="height: 600px !important;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section ">
                        <h3>Les Actualites du jours</h3>
                        <p></p>
                    </div>
                </div>
                <div class="row container-list">
                    <div *ngFor="let actualite of actualites" class="col-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{actualite.type}}</h5>
                                <p class="card-text text-truncate">{{actualite.description}}</p>
                                <a href="#" class="btn btn-primary">Voir details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>