<div class="sidebar-wrapper">
    <div class="logo">
        <a href="" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="assets/img/tunisair-logo.png">
            </div>
        </a>
        <a href="" class="simple-text logo-normal">
      Tunisair
    </a>
    </div>
    <ul class="nav">
        <li class="" routerLinkActive="active">
            <a routerLink="/panel-admin/dashboard">
                <i class="nc-icon nc-bank"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" class="">
            <a routerLink="/panel-admin/comptes">
                <i class="nc-icon nc-tile-56"></i>
                <p>Compte B2B</p>
            </a>
        </li>
        <li routerLinkActive="active" class="">
            <a routerLink="/panel-admin/users">
                <i class="nc-icon nc-single-02"></i>
                <p>Utilisateurs</p>
            </a>
        </li>
        <li routerLinkActive="active" class="">
            <a routerLink="/panel-admin/notification">
                <i class="nc-icon nc-bell-55"></i>
                <p>Notification</p>
            </a>
        </li>
    </ul>
</div>