<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header header-style">
                <h4 class="card-title"> Liste des reclamations</h4>
                <!-- <a (click)="openModal()">
                    <i class="fa fa-2x fa-plus-circle plus-icon" aria-hidden="true"></i>
                </a> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th> Nº </th>
                            <th> Date </th>
                            <th> Nom </th>
                            <th> Type </th>
                            <th> Objet </th>
                            <th> Description </th>
                            <th class=""> Statut</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reclamation of reclamations ;let i=index">
                                <td> {{i}} </td>
                                <td> {{reclamation.date}}</td>
                                <td> {{reclamation?.organisme}}</td>
                                <td> {{reclamation?.type}}</td>
                                <td> {{reclamation?.object}}</td>
                                <td class=""> {{reclamation?.description}} </td>
                                <td>{{reclamation.statut}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>