.form-control.textarea {
    max-height: 200px !important;
}

.close-style {
    float: right;
    padding: 10px 10px 10px 10px;
}

.card-style {
    padding: 30px 10px 10px 10px;
    border: none !important;
}

.select-style {
    height: 35px;
}

.card-title {
    font-weight: 800;
}