<div class="container">
    <div class="row">
        <div id="fh5co-tours" class="fh5co-section-gray w-100">
            <div class="container w-100" style="height: 600px !important;">
                <div class="row w-100">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section ">
                        <h3>Liste des transactions</h3>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 ">
                        <a *ngFor="let transaction of transactions" class="flight-book">
                            <div class="plane-name">
                                <span class="p-flight">{{transaction.date | date}}</span>
                            </div>
                            <div class="desc">
                                <div class="left">
                                    <h4>{{transaction.type}}</h4>
                                </div>
                                <!-- <div class="right">
                                    <span class="price">
										<i class="icon-arrow-down22"></i>
										
									</span>
                                </div> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>