<div class="container">
    <div class="row">
        <div id="fh5co-tours" class="fh5co-section-gray w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section ">
                        <h3>Liste des transactions</h3>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <!--  <div class="col-md-12 ">
                        <h2 class="heading-title">Todays Flight Deal</h2>
                    </div>
                    <div class="col-md-6 ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Better Deals, More Abilities</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-md-12">
                                <h4>Keep up with the news of your airline</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-md-12">
                                <h4>In-Flight Experience</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-8 ">
                        <a *ngFor="let transaction of transactions" class="flight-book">
                            <div class="plane-name">
                                <span class="p-flight">{{transaction.date | date}}</span>
                            </div>
                            <div class="desc">
                                <div class="left">
                                    <h4>{{transaction.type}}</h4>
                                </div>
                                <!-- <div class="right">
                                    <span class="price">
										<i class="icon-arrow-down22"></i>
										
									</span>
                                </div> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>