<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header header-style">
                <h4 class="card-title"> Liste des utilisateurs</h4>
                <a (click)="openAddForm()">
                    <i class="fa fa-2x fa-plus-circle plus-icon" aria-hidden="true"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th> Email </th>
                            <th> Mot de passe </th>
                            <th> Role </th>
                            <th> Agence </th>
                            <th class=""> </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users ;let i=index">
                                <!-- | filter: searchText-->
                                <td> {{user.email}} </td>
                                <td>
                                    <div [id]="'input-pass-'+i">
                                        <input class="password-style" type="password" value="{{user.password}}" disabled>
                                        <a (click)="togglePassword(i)"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="password-style hidden" [id]="'input-mask-'+i">
                                        <input class="password-style" type="text" value="{{user.password}}" disabled>
                                        <a (click)="togglePassword(i)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </div>

                                </td>
                                <td> {{user.roles[0]}}</td>
                                <td> {{user.agenceId}} </td>
                                <th class="operations-style">
                                    <div class="mr-2">
                                        <a (click)="deleteUser(user?.id)"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    </div>
                                    <div>
                                        <a (click)="openUpdateForm(user)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </div>

                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>